<div class="main">
  <div class="inner">

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>ユーザー情報の編集</h2>

    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :ユーザー名%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :メールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :プロフィール%>
          </div>
          <div class='field-input'>
            <%= f.text_area :profile%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "更新", class: 'nav__btn'%>

       <%= link_to "戻る", :back, class: 'nav__btn'%>
    </div>
            </div>
    
      <% end %>
    </div>
  </div>
</div>

  </div>
</div>