<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cat tweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 <%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_pack_tag 'application' %>
<%= javascript_include_tag 'add_adoption_text' %>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>

<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_fails_path, html: {id: "detailed-search-form"} do |f| %>
      <div class="search-field">
      <%= f.text_field :title_cont, placeholder: 'タイトル名' %>
    <%= f.submit '検索' %>
        </div>
  <% end %>

          <div class="nav__r">
          <%# ログインしているときは以下を表示するようにしましょう %>
            <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn  %>
              <%= link_to "新規投稿", new_fail_path, class: :nav__btn %>
            </div>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>

    <%# ログインしているときは以下を表示する %>
        <% if user_signed_in? %>
       <div class="greeting">
        <%= "ようこそ！"%>
         <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link%>
             <% if Message.unread_messages(current_user.id) > 0 && controller_name != "users" %>
      <div class="notification">
        <span>🐈‍⬛新着メッセージあり🐈‍⬛</span>
      </div>
    <% end %>
       </div> 
       <% end %>
    <%# // ログインしているときは上記を表示する %>
       </div>

        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © cat tweet All rights reserved.</p>
    </footer>
  </body>
</html>
